//.p-details{
//  border: 1px solid #c4c4c4;
//  margin-top: 5px;
//  padding: 5px;
//}
//
//.p-detail-title{
//  color: #7d7d7d;
//  font-size: 10px;
//}
//
//.p-detail-info{
//  color: #0d0d0d;
//  font-size: 13px;
//}
//.o-detail-title{
//  color: #7d7d7d;
//  font-size: 13px;
//
//}
//
//.o-detail-info{
//  color: #0d0d0d;
//  font-size: 14px;
//  margin-left: 21px;
//}
//
//hr{
//  background: #7d7d7d;
//}
//
//h6{
//  margin: 15px;
//}
//
//
//.icon{
//  font-size: 16px;
//  height: 100%;
//  vertical-align: middle;
//  margin-right: 5px;
//}

.p-details{
  border: 1px solid #c4c4c4;
  margin-top: 5px;
  padding: 5px;
}

.p-detail-title{
  color: #7d7d7d;
  font-size: 13px;
}

.p-detail-info{
  color: #0d0d0d;
  font-size: 16px;
}
.o-detail-title{
  color: #7d7d7d;
  font-size: 16px;
  margin-top: 5px;

}

.o-detail-info{
  color: #0d0d0d;
  font-size: 18px;
  margin-left: 21px;
}

hr{
  background: #7d7d7d;
}

h6{
  margin: 15px;
}


.icon{
  font-size: 16px;
  height: 100%;
  vertical-align: middle;
  margin-right: 5px;
}


.comp-btn{
  background: teal;
  color: white;
  padding: 1px 7px;
  margin-left: 10px;
}
.cancel-btn{
  background: orangered;
  color: white;
  padding: 1px 7px;
}

mat-icon{
  color: #8a2be2;
}

h5{
  color: #8a2be2;
}


.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #8a2be2!important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #8a2be2!important;
}
