.sbmt-btn{
  background: blueviolet;
  color: white;
  padding: 1px 40px;

}

.cncl-btn{
  border: orangered 1px solid;
  color: orangered;
  padding: 1px 40px;

}

.mat-card{
  border-radius: 12px;

}
