<div class="container m-b-20">
        <div class="info">
            <div>
                <ion-icon class="icon" name="information-circle-outline"></ion-icon>
                {{'#' + reviewData.order}}
            </div>
            <div>
                <ion-icon class="icon" name="calendar-outline"></ion-icon>
                {{util.getHumanShortDate(reviewData.date)}}
            </div>

            <div>
                <ion-icon  class="icon" name="time-outline"></ion-icon>
                {{util.getTime(reviewData.date)}}
            </div>

            <div>
                <ion-icon  class="icon" name="person-outline"></ion-icon>
                <span>{{reviewData.name}}</span>
            </div>

        </div>


        <div class="text-center fs-16 m-t-15">
          Overall: <ion-icon *ngFor="let i of reviewArray(reviewData.rating).fill(1)" name="star"></ion-icon>
        </div>

    <hr>

    <div class="fs-16">
        {{reviewData.comment === '' ? 'No Comment added' : reviewData.comment}}
    </div>

    <div class="m-t-20">
        <div *ngFor="let item of reviewData.attributes" class="row fs-16">
            <div class="col-5">
                {{item.name}}
            </div>
            <div class="m-l-10 col-6">
                <ion-icon *ngFor="let i of reviewArray(item.rating).fill(1)" name="star"></ion-icon>
            </div>
        </div>
    </div>

</div>
