mat-form-field{
  width: 100%;
}

.edit-info{
  margin-top: 20px;
}

.chip{
  background: #24b47e;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  margin: 5px;
}

.save{
  background: teal;
  color: white;
  margin-top: 20px;
}

.grid-chip{
  display: grid;
  grid-template-columns: repeat(2, 40%);
  justify-content: center;
}
