/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import "./assets/css/util.css";

.full-width{
  width: 100%;
}

.save-btn{
  margin-top: 20px!important;
  color: white;
  width: 100%;
  text-align: center!important;
  font-size: 18px;
  background-color: #8a2be2;
  padding: 3px!important;
  border-radius: 20px!important;
}

mat-form-field{
  width: 100%;
}

.mat-ink-bar{
  min-width: 50% !important
}
.m-r-8{
  margin-right: 8px;
}

.mat-tab-label{
  min-width: 50% !important;
  height: 75px!important;
}

.mat-form-field-infix{
  width: auto!important;
}

.ngx-timepicker{
  display: inline-flex!important;
  flex-grow: 1;
}

body, div, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title {
  font-family: 'Karla', sans-serif !important;
}


.slot-chip{
  border-radius: 24px;
  color: whitesmoke;
  padding: 6px 12px;
  font-size: medium;
  margin: 5px;
}

.mat-bottom-sheet-container {
  padding: 0 !important;
  max-height: 90vh !important;
  border-radius: 16px 16px 0 0;
}
